/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &kp Q           &kp W           &kp F               &kp P             &kp B      &kp J    &kp L              &kp U                &kp Y            &kp SEMI         &trans
&trans  &mt LEFT_ALT A  &mt LEFT_GUI R  &mt LEFT_CONTROL S  &mt LEFT_SHIFT T  &kp G      &kp M    &mt RIGHT_SHIFT N  &mt RIGHT_CONTROL E  &mt RIGHT_GUI I  &mt RIGHT_ALT O  &trans
&trans  &kp Z           &kp X           &kp C               &kp D             &kp V      &kp K    &kp H              &kp COMMA            &kp DOT          &kp FSLH         &trans
                                        &kp TAB             &kp SPACE         &kp ESC    &kp RET  &kp BSPC           &kp SQT
            >;
        };
    };
};
